[submodule "pack/init/start/fzf"]
	path = pack/init/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/init/start/ag"]
	path = pack/init/start/ag
	url = https://github.com/rking/ag.vim.git
[submodule "pack/init/start/ale"]
	path = pack/init/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/init/start/vim-gitgutter"]
	path = pack/init/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/init/start/vim-commentary"]
	path = pack/init/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/init/start/SimpleAutoComplPop"]
	path = pack/init/start/SimpleAutoComplPop
	url = https://github.com/roxma/SimpleAutoComplPop.git
[submodule "pack/init/start/vim-go"]
	path = pack/init/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/init/start/vim-snippets"]
	path = pack/init/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/init/start/tlib_vim"]
	path = pack/init/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/init/start/vim-addon-mw-utils"]
	path = pack/init/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
